<%- include('header') %>
<h1>Contact Us</h1>

<form method="post" action="/process">
  No1 : <input type="text" name="txt1" /><br />
    No2 : <input type="text" name="txt2" /><br />
    <input type="submit" />
</form>

<%- include('menu')  %>
